@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

a[href],
button,
[role="button"],
label[for],
select,
summary {
  cursor: pointer;
}

button:disabled,
select:disabled,
input:disabled,
textarea:disabled {
  cursor: not-allowed;
}
